*{
padding: 0px;
margin: 0px;

}
body{

padding: 0px;
margin: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.main{
    width: 100%;
    min-height: 50px;
    height: 500px;    
    background:url("../images/office.jpg");
    box-shadow: 10px 2px 10px 2px gray;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}


.container{
    width:980px;
	padding:0px;
	margin:0px auto;
	background-color:;
    height: 50px;
}
.topbar{
    width: 100%;
    height: auto;

}
.logo{
    width: 250px;
    float: left;
    height: 100px;
    background-color:red;
}
.logo:hover{
    background: red;
    
    border-radius:0px 0px 30px 30px;
    box-shadow:10px 10px 10px #000;


}
.logo h1{
    font-size: 50px;
    text-align: center;
    color: white;
    
}
.logo h2{
    font-size: 25px;
    text-align: center;
    color: white;
    
}
.menu{
width:730px ;
float: right;
 min-height: 30px;
background-color:black;
}
.menu:hover{
    background: red;
    
    border-radius:0px 0px 30px 30px;
    box-shadow:10px 10px 10px #000;

}


.menu ul{
float: right;
margin: 0px;
padding: 0px;
width: 60%;


}
.menu ul li{
    
	width:auto;
	padding:15px;
	margin:0px;
    
    float: left;
	list-style:none;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    
    background: black;
    
    border-radius:0px 0px 30px 30px;
    box-shadow:10px 10px 10px #000;
}
